body
    {
        font-family:"Helvetica Neue", "times-new-roman", sans-serif;
        -webkit-text-size-adjust:100%;
        -ms-text-size-adjust:100%;
        color: #212121;
        background-color: #e3ebf4;
        font-size: .96em;
        margin: 0 auto;

    }
    
div.wrapper
    {
        width: 1020px;
        margin: 0 auto;
        text-align: left; /* corrects text to be left-justified b/c of body text align value */
        background-color: #e3ebf4;
        border: none;
    }
.current
        {
            font-weight: bold;
           
        }
a:link
        {
        color: #c65a1b; 
        }
a:visited
        {
        color: #934010;  
        }
a:hover
        {
        text-decoration: underline;   
        }
a:active
        {
        text-decoration: underline;    
        }
        
.navigation a:link
        {
        color: #d7dadd; 
        }
.navigation a:visited
        {
        color: #d7dadd;  
        }
.navigation a:hover
        {
        text-decoration: underline;   
        }

        
div.headerback
    {
        background-color: white;
    }
div.header
    {
        width: 1020px;
        background-color: white;
        margin: 0 auto;
        
    }
    
div.logo
    {
        width: 440px;
        float: left;
        height: 225px;
    }
    
.ess
    {
        padding-top: 22px;
    }
    
   
.navigation ul
    {
        list-style-type: none;
        position: relative;
        margin-left: 0px;
        padding-left: 0px;
        background-color: #3b66b6;
        padding-top: 6px;
        text-align: center;
        border-radius: 2px 2px 0px 0px;
        color: #d7dadd;
        font-weight: 400;


        
     }
     
.navigation ul li
    {
        display: inline;
        padding: 6px 14px 6px 14px;
        background-color: #3b66b6;
        margin-right: 15px;
        color: #d7dadd;
        


    }

li a, .dropbtn {
    display: inline-block;
    text-decoration: none;
    
}

li.dropdown
    {
        display: inline-block;

    }
    
    
.ddcontent {
    display: none;
    margin: 6px 0px 0px 103px;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 1px;
    

}

.ddcontent.vol {
    display: none;
    margin: 6px 0px 0px 197px;


}

.ddcontent a {
    color: black;
    padding: 7px 11px;
    text-decoration: none;
    display: block;

}
.ddcontent a:hover {background-color: #d6d6d6;

}

.ddcontent a:link {color: #212121;

}

.ddcontent a:visited {color: #212121;

}

.dropdown:hover .ddcontent {
    display: block;
}


div.headerinfo
    {
        height: 200px;
        padding-top: 10px;
    }
    
.headerinfo p
    {
        padding-top: 10px;
        padding-bottom: 7px;
    }
    
div.navigation
    {
        display: inline-block;
        height: 20px;
        width: 540px;
    }


div.breadcrumbsin
    {
        background-color: #3b66b6;
color: #d7dadd;
width: 1020px;
        margin: 0 auto;
        display: inline;
        
    }
    
div.breadcrumbsin a:visited
    {
        color: #d7dadd;
    }
    
div.info
    {
        float:right;
        display: inline;
        
    }

div.info a
    {
        padding: 0px 10px;
    }
div.breadcrumbs
    {
        background-color: #3b66b6;
        padding: 3px;
color: #d7dadd;
        border-radius: 1px;
        
        
    }
div.bclist 
    {
        float: left;
        color: #d7dadd;
        
    }
    
a.bclist
    {
        margin-left: 20px;
        margin-right: 20px;
        color: #d7dadd;
    }
    
#aside
    {
        width: 250px;
        background-color: #f7f7f7;
        display: inline-block;
        box-shadow: 4px 4px 7px rgba(0,0,0,0.17);
        border-radius: 1px;
        margin: 20px 0px 30px 0px;
        vertical-align: top;
        color: #212121;
        
        
    }
    
img.badge
    {
        margin: 0px 25px 25px 25px;
        border: solid thin #d6d6d6;
    }
#aside ul
    {
        list-style-type: none;
        position: relative;
        padding: 0px;
    }
    
#aside ul li
    {
        list-style-type: none;
        text-align: left;
        list-style-position: inside;
        margin: 25px;
        
    }
    
#aside ul li:hover
    {
        background-color: #d6d6d6;
    }
    
#aside a:link
    {
        color: #212121;
    }
    
#aside a:visited
    {
        color: #212121;
    }
li.secondary
    {
        padding: 20px;
        border: solid thin #a52121;
        border-radius: 1px;
    }
    
.secondary.call
    {
        background-color: #a52121;
        font-weight: bold;
    }
    
h3
    {
        margin: 25px;
    }
    
#main
    {
        background-color: #f7f7f7;
        width: 680px;
        display: inline-block;
        box-shadow: 5px 5px 7px rgba(0,0,0,0.17);
        margin: 20px 0px 30px 25px;
        vertical-align: top;
        color: #212121;
    }
#main h1
    {
        margin: 25px;
    }
#main p
    {
        margin: 25px;
    }
    
#main ul
    {
        margin-left: 50px;
    }
    
.login
    {
        margin: 15px 0px 22.5px 20px;
    }
    
iframe
    {

        margin: 10px;
        border: thin solid #d6d6d6;
        
    }

div.footer
    {
        background-color: #3b66b6;
        box-shadow: 4px -4px 7px rgba(0,0,0,0.17);
        height: 450px;
        
    }
    
div.footer a:link
    {
        color: #d6d6d6;
    }
    
div.footer a:hover
    {
        text-decoration: underline;
        
    }
    
div.footer a:visited
    {
        color: #d6d6d6;
    }
    
    
.footer.innerfoot.quicklinks.footlinks
    {
        display: inline-block;
    }
.innerfoot
    {
        width: 1020px;
        margin: 0 auto;
        
        
    }
.quicklinks
    {
        width: 250px;
        color: #e3ebf4;
        background-color: #3b66b6;
        display: inline-block;
        margin: 20px 0px 30px 0px;
        vertical-align: top;  
    }
    
.quicklinks ul
    {
        list-style-type: none;
        position: relative;
        padding-left: 0px;
    }
    
.quicklinks ul li
    {
        list-style-type: none;
        text-align: left;
        list-style-position: inside;
    }
    
.footlinks
    {
        
        width: 680px;
        display: inline-block;
        margin: 20px 0px 30px 25px;
        vertical-align: top;
        color: #e3ebf4;
    }
    
.fl1
    {
        width: 210px;
        display: inline-block;
        margin-right: 20px;
        vertical-align: top;

    }
    
.fl2
    {
        width: 210px;
        display: inline-block;
        margin-right: 20px;
        vertical-align: top;
    }
    
.fl3
    {
        width: 210px;
        display: inline-block;
        vertical-align: top;
    }

h4.fl
    
    {
        margin-bottom: 0px;
    }
.fl1 ul
    {
        list-style-type: none;
        position: relative;
        padding: 0px;
    }
    
.fl1 ul li
    {
        list-style-type: none;
        text-align: left;
        list-style-position: inside;
    }
    
.fl2 ul
    {
        list-style-type: none;
        position: relative;
        padding: 0px;
    }
    
.fl2 ul li
    {
        list-style-type: none;
        text-align: left;
        list-style-position: inside;
    }
    
.fl3 ul
    {
        list-style-type: none;
        position: relative;
        padding: 0px;
    }
    
.fl3 ul li
    {
        list-style-type: none;
        text-align: left;
        list-style-position: inside;
    }
    
    img.content
    {
        float: left;
        clear: both;
        margin: 25px;
    }